<div class="imprint-page">
    <div class="imprint-wrapper">
        <div class="imprint-container">
            <h2>Imprint</h2>

            <div class="imprint-details">
                <p>Elias Schäfer</p>
                <p>Carlos Reverchon</p>
                <p>Hohenau 6290</p>
                <p>Paraguay</p>
            </div>

            <h3>Contact</h3>
            <div class="imprint-details">
                <p>Telefon: +595 994 856125</p>
                <p>E-Mail: elias-schaefer1&#64;web.de</p>
            </div>

            <button class="back-button" (click)="goBack()">
                ← {{ text['backBu'] || 'Back to main' }}
            </button>
        </div>
    </div>
</div>