<div class="footer">
    <div class="footer-left" [style.background-image]="'url(./assets/IMG/Elias_Schäfer-removebg-preview.png)'">
        <div class="profile">
            <a>Web Developer</a>
            <a>Hohenau Paraguay</a>
        </div>
    </div>    
    <div class="footer-center">
        <span class="footer-span1">© Elias Schäfer 2025</span>
    </div>
    <div class="footer-right">
        <a href="https://github.com/eliasschae" target="_blank" rel="noopener noreferrer">Github</a>
        <a href="https://www.linkedin.com/">LinkedIn</a>
        <a href="#">Email</a>
        <a href="#" (click)="openImprint()">Imprint</a>
    </div>    
</div>

<div *ngIf="isImprintVisible" class="imprint-overlay" (click)="closeOnOutsideClick($event)">
    <div class="imprint-content">
        <h2>Imprint</h2>
        <div class="imprint-details">
            <p>Elias Schäfer</p>
            <p>Carlos Reverchon</p>
            <p>Hohenau 6290</p>
            <p>Paraguay</p>
        </div>
        
        <h3>Contact</h3>
        <div class="imprint-details">
            <p>Telefon: +595 994 856125</p>
            <p>E-Mail: elias-schaefer1&#64;web.de</p>
        </div>
        
        <button class="close-imprint" (click)="closeImprint()">×</button>
    </div>
</div>