<div id="about" class="AboutMe-section">
    <div class="AboutMe-IMG hidden-left"> 
        <img class="photo" src="assets/IMG/portfolioimg.jpg">
    </div>
    <div class="AboutMe-text hidden-right">
        <h1 class="WiA-h1">{{ text['whoIAm'] }}</h1>
        <div class="AboutMe-text-container">
            <h1 class="Am-h1">{{ text['about'] }}</h1>
            <p class="AboutMe-text1">{{ text['aboutMeDescription'] }}</p>
            <div class="AboutMe-text-icons">
                <img src="assets/IMG/location_on.png">
                <p class="AboutMe-text2">{{ text['workEnvironment'] }}</p>
            </div>
            <div class="AboutMe-text-icons">
                <img src="assets/IMG/cognition.png">
                <p class="AboutMe-text3">{{ text['personalChallenges'] }}</p>
            </div>
            <div class="AboutMe-text-icons">
                <img src="assets/IMG/14. About me Highlights icons.png">
                <p class="AboutMe-text4">{{ text['problemSolving'] }}</p>
            </div>
        </div>
    </div>
</div>