<section id="contact" class="contact-section">
    <div class="section-left hidden-left">
        <span>{{ text['contactMem'] }}</span>
        <h1>{{ text['letsWorkTogether'] }}</h1>
        <h3>{{ text['gotAProblem'] }}</h3>
        <p>
            {{ text['contactDescription'] }}
            <br><br> {{ text['needAFrontendDeveloper'] }}
            <span class="Let’s-talk">{{ text['letsTalke'] }}</span>
        </p>
    </div>
    <div class="section-right hidden-right">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div>
                <label for="name">{{ text['whatsYourName'] }}</label>
                <input class="input" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                    [placeholder]="placeholders.name" required (blur)="checkEmptyField('name')"
                    (focus)="restorePlaceholder('name')" autocomplete="off">
            </div>
            <div>
                <label for="email">{{ text['whatsYourEmail'] }}</label>
                <input class="input" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                    [placeholder]="placeholders.email" required (blur)="checkEmptyField('email')"
                    (focus)="restorePlaceholder('email')" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                    autocomplete="off">
            </div>
            <div>
                <label for="message">{{ text['howCanIHelp'] }}</label>
                <textarea class="input" [(ngModel)]="contactData.message" id="message" name="message"
                    [placeholder]="placeholders.message" required minlength="4" (blur)="checkEmptyField('message')"
                    (focus)="restorePlaceholder('message')" autocomplete="off">
                </textarea>
            </div>
            <div class="privacyPolicy-div">
                <input type="checkbox" id="privacyPolicy" name="privacyPolicy" [(ngModel)]="privacyPolicyAccepted"
                    (change)="restorePlaceholder('privacyPolicy')">
                <label class="label-privacyPolicy" for="privacyPolicy">
                    {{ text['privacyPolicyAgreement'] }}
                    <a class="label-a" (click)="openPrivacyPolicy($event)">{{ text['privacyPolicy'] }}</a>
                    {{ text['privacyPolicyConsent'] }}
                </label>
            </div>
            <span id="privacyPolicyError" class="error-message">{{ text['acceptPrivacyPolicy'] }}</span>

            <button type="submit" class="submit-button">
                <span>{{ text['sayHello'] }}</span>
            </button>
        </form>
    </div>
</section>

<section id="privacy-policy-overlay" class="privacy-policy-overlay hidden">
    <div class="privacy-policy-content">
        <h1>Datenschutzerklärung</h1>
        <p>Stand: 30. April 2025</p>
        <h2>Inhaltsübersicht</h2>
        <ul class="index">
            <li><a class="index-link" href="#m3">Verantwortlicher</a></li>
            <li><a class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a></li>
            <li><a class="index-link" href="#m2427">Maßgebliche Rechtsgrundlagen</a></li>
            <li><a class="index-link" href="#m27">Sicherheitsmaßnahmen</a></li>
            <li><a class="index-link" href="#m10">Rechte der betroffenen Personen</a></li>
            <li><a class="index-link" href="#m182">Kontakt- und Anfrageverwaltung</a></li>
            <li><a class="index-link" href="#m328">Plug-ins und eingebettete Funktionen sowie Inhalte</a></li>
        </ul>
        <h2 id="m3">Verantwortlicher</h2>
        <p>Elias Schäfer<br>Carlos Reverchon<br>Hohenau 6290</p>
        <p>E-Mail-Adresse: <a class="E-Mail" href="mailto:elias-schaefer1@web.de">elias-schaefer1&#64;web.de</a></p>
        <p>Telefon: +595 994856125</p>
        <p>Impressum: <a class="Impressum" href="https://elias-schaefer.developerakademie.net/angular-projects/portfolio/"
                target="_blank">https://elias-schaefer.developerakademie.net/angular-projects/portfolio/</a></p>

        <h2 id="mOverview">Übersicht der Verarbeitungen</h2>
        <p>Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen
            und
            verweist auf die betroffenen Personen.</p>
        <h3>Arten der verarbeiteten Daten</h3>
        <ul>
            <li>Bestandsdaten.</li>
            <li>Kontaktdaten.</li>
            <li>Inhaltsdaten.</li>
            <li>Nutzungsdaten.</li>
            <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
        </ul>
        <h3>Kategorien betroffener Personen</h3>
        <ul>
            <li>Kommunikationspartner.</li>
            <li>Nutzer.</li>
        </ul>
        <h3>Zwecke der Verarbeitung</h3>
        <ul>
            <li>Kommunikation.</li>
            <li>Organisations- und Verwaltungsverfahren.</li>
            <li>Feedback.</li>
            <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
        </ul>
        <h2 id="m2427">Maßgebliche Rechtsgrundlagen</h2>
        <h2 id="m27">Sicherheitsmaßnahmen</h2>
        <p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
            Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
            unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten
            natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes
            Schutzniveau zu gewährleisten.</p>
        <p>Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von
            Daten
            durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden
            Zugriffs,
            der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir
            Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen
            auf
            die Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten
            bereits
            bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des
            Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.</p>
        <p>Sicherung von Online-Verbindungen durch TLS-/SSL-Verschlüsselungstechnologie (HTTPS): Um die Daten der
            Nutzer,
            die über unsere Online-Dienste übertragen werden, vor unerlaubten Zugriffen zu schützen, setzen wir auf die
            TLS-/SSL-Verschlüsselungstechnologie. Secure Sockets Layer (SSL) und Transport Layer Security (TLS) sind die
            Eckpfeiler der sicheren Datenübertragung im Internet. Diese Technologien verschlüsseln die Informationen,
            die
            zwischen der Website oder App und dem Browser des Nutzers (oder zwischen zwei Servern) übertragen werden,
            wodurch die Daten vor unbefugtem Zugriff geschützt sind. TLS, als die weiterentwickelte und sicherere
            Version
            von SSL, gewährleistet, dass alle Datenübertragungen den höchsten Sicherheitsstandards entsprechen. Wenn
            eine
            Website durch ein SSL-/TLS-Zertifikat gesichert ist, wird dies durch die Anzeige von HTTPS in der URL
            signalisiert. Dies dient als ein Indikator für die Nutzer, dass ihre Daten sicher und verschlüsselt
            übertragen
            werden.</p>

        <h2 id="m10">Rechte der betroffenen Personen</h2>
        <p>Rechte der betroffenen Personen aus der DSGVO: Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte
            zu,
            die sich insbesondere aus Art. 15 bis 21 DSGVO ergeben:</p>
        <ul>
            <li><strong>Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation
                    ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund
                    von
                    Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese
                    Bestimmungen gestütztes Profiling. Werden die Sie betreffenden personenbezogenen Daten verarbeitet,
                    um
                    Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der
                    Sie
                    betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für
                    das
                    Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.</strong></li>
            <li><strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht, erteilte Einwilligungen
                jederzeit
                zu widerrufen.</li>
            <li><strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob
                betreffende
                Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen und Kopie der
                Daten entsprechend den gesetzlichen Vorgaben.</li>
            <li><strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den gesetzlichen Vorgaben das Recht, die
                Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen
                Daten zu
                verlangen.</li>
            <li><strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong> Sie haben nach Maßgabe der
                gesetzlichen Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten unverzüglich gelöscht werden,
                bzw.
                alternativ nach Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung der Daten zu
                verlangen.</li>
            <li><strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie betreffende Daten, die Sie uns
                bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem strukturierten, gängigen und
                maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen zu
                fordern.
            </li>
            <li><strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben unbeschadet eines anderweitigen
                verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer
                Aufsichtsbehörde,
                insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts
                des
                mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden
                personenbezogenen Daten gegen die Vorgaben der DSGVO verstößt.</li>
        </ul>

        <h2 id="m182">Kontakt- und Anfrageverwaltung</h2>
        <p>Bei der Kontaktaufnahme mit uns (z. B. per Post, Kontaktformular, E-Mail, Telefon oder via soziale Medien)
            sowie
            im Rahmen bestehender Nutzer- und Geschäftsbeziehungen werden die Angaben der anfragenden Personen
            verarbeitet,
            soweit dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.</p>
        <ul class="m-elements">
            <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z. B. der vollständige Name, Wohnadresse,
                Kontaktinformationen, Kundennummer, etc.); Kontaktdaten (z. B. Post- und E-Mail-Adressen oder
                Telefonnummern); Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge sowie die sie
                betreffenden Informationen, wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung);
                Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer, Klickpfade, Nutzungsintensität und -frequenz,
                verwendete Gerätetypen und Betriebssysteme, Interaktionen mit Inhalten und Funktionen). Meta-,
                Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, beteiligte
                Personen).</li>
            <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Kommunikation; Organisations- und Verwaltungsverfahren;
                Feedback
                (z. B. Sammeln von Feedback via Online-Formular). Bereitstellung unseres Onlineangebotes und
                Nutzerfreundlichkeit.</li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung".</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
                Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).</li>
        </ul>
        <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
        <ul class="m-elements">
            <li><strong>Kontaktformular: </strong>Bei Kontaktaufnahme über unser Kontaktformular, per E-Mail oder
                anderen
                Kommunikationswegen, verarbeiten wir die uns übermittelten personenbezogenen Daten zur Beantwortung und
                Bearbeitung des jeweiligen Anliegens. Dies umfasst in der Regel Angaben wie Name, Kontaktinformationen
                und
                gegebenenfalls weitere Informationen, die uns mitgeteilt werden und zur angemessenen Bearbeitung
                erforderlich sind. Wir nutzen diese Daten ausschließlich für den angegebenen Zweck der Kontaktaufnahme
                und
                Kommunikation; <span class=""><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche
                    Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f)
                    DSGVO).</span></li>
        </ul>
        <h2 id="m328">Plug-ins und eingebettete Funktionen sowie Inhalte</h2>
        <p>Wir binden Funktions- und Inhaltselemente in unser Onlineangebot ein, die von den Servern ihrer jeweiligen
            Anbieter (nachfolgend als „Drittanbieter" bezeichnet) bezogen werden. Dabei kann es sich zum Beispiel um
            Grafiken, Videos oder Stadtpläne handeln (nachfolgend einheitlich als „Inhalte" bezeichnet).</p>
        <p>Die Einbindung setzt immer voraus, dass die Drittanbieter dieser Inhalte die IP-Adresse der Nutzer
            verarbeiten,
            da sie ohne IP-Adresse die Inhalte nicht an deren Browser senden könnten. Die IP-Adresse ist damit für die
            Darstellung dieser Inhalte oder Funktionen erforderlich. Wir bemühen uns, nur solche Inhalte zu verwenden,
            deren
            jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte anzuwenden. Drittanbieter können
            ferner
            sogenannte Pixel-Tags (unsichtbare Grafiken, auch als „Web Beacons" bezeichnet) für statistische oder
            Marketingzwecke einsetzen. Durch die „Pixel-Tags" können Informationen, wie etwa der Besucherverkehr auf den
            Seiten dieser Website, ausgewertet werden. Die pseudonymen Informationen können darüber hinaus in Cookies
            auf
            dem Gerät der Nutzer gespeichert werden und unter anderem technische Auskünfte zum Browser und zum
            Betriebssystem, zu verweisenden Websites, zur Besuchszeit sowie weitere Angaben zur Nutzung unseres
            Onlineangebots enthalten, aber auch mit solchen Informationen aus anderen Quellen verbunden werden.</p>
        <p><strong>Hinweise zu Rechtsgrundlagen:</strong> Sofern wir die Nutzer um ihre Einwilligung in den Einsatz der
            Drittanbieter bitten, stellt die Rechtsgrundlage der Datenverarbeitung die Erlaubnis dar. Ansonsten werden
            die
            Nutzerdaten auf Grundlage unserer berechtigten Interessen (d. h. Interesse an effizienten, wirtschaftlichen
            und
            empfängerfreundlichen Leistungen) verarbeitet. In diesem Zusammenhang möchten wir Sie auch auf die
            Informationen
            zur Verwendung von Cookies in dieser Datenschutzerklärung hinweisen.</p>
        <ul class="m-elements">
            <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer,
                Klickpfade,
                Nutzungsintensität und -frequenz, verwendete Gerätetypen und Betriebssysteme, Interaktionen mit Inhalten
                und
                Funktionen). Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
                Identifikationsnummern, beteiligte Personen).</li>
            <li><strong>Betroffene Personen:</strong> Nutzer (z. B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und
                Nutzerfreundlichkeit.
            </li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung". Speicherung von Cookies von bis zu 2 Jahren (Sofern
                nicht
                anders angegeben, können Cookies und ähnliche Speichermethoden für einen Zeitraum von zwei Jahren auf
                den
                Geräten der Nutzer gespeichert werden.).</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO). Berechtigte
                Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
        </ul>
        <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
        <ul class="m-elements">
            <li><strong>Google Fonts (Bezug vom Google Server): </strong>Bezug von Schriften (und Symbolen) zum Zwecke
                einer
                technisch sicheren, wartungsfreien und effizienten Nutzung von Schriften und Symbolen im Hinblick auf
                Aktualität und Ladezeiten, deren einheitliche Darstellung und Berücksichtigung möglicher
                lizenzrechtlicher
                Beschränkungen. Dem Anbieter der Schriftarten wird die IP-Adresse des Nutzers mitgeteilt, damit die
                Schriftarten im Browser des Nutzers zur Verfügung gestellt werden können. Darüber hinaus werden
                technische
                Daten (Spracheinstellungen, Bildschirmauflösung, Betriebssystem, verwendete Hardware) übermittelt, die
                für
                die Bereitstellung der Schriften in Abhängigkeit von den verwendeten Geräten und der technischen
                Umgebung
                notwendig sind. Diese Daten können auf einem Server des Anbieters der Schriftarten in den USA
                verarbeitet
                werden - Beim Besuch unseres Onlineangebotes senden die Browser der Nutzer ihre Browser HTTP-Anfragen an
                die
                Google Fonts Web API (d. h. eine Softwareschnittstelle für den Abruf der Schriftarten). Die Google Fonts
                Web
                API stellt den Nutzern die Cascading Style Sheets (CSS) von Google Fonts und danach die in der CCS
                angegebenen Schriftarten zur Verfügung. Zu diesen HTTP-Anfragen gehören (1) die vom jeweiligen Nutzer
                für
                den Zugriff auf das Internet verwendete IP-Adresse, (2) die angeforderte URL auf dem Google-Server und
                (3)
                die HTTP-Header, einschließlich des User-Agents, der die Browser- und Betriebssystemversionen der
                Websitebesucher beschreibt, sowie die Verweis-URL (d. h. die Webseite, auf der die Google-Schriftart
                angezeigt werden soll). IP-Adressen werden weder auf Google-Servern protokolliert noch gespeichert und
                sie
                werden nicht analysiert. Die Google Fonts Web API protokolliert Details der HTTP-Anfragen (angeforderte
                URL,
                User-Agent und Verweis-URL). Der Zugriff auf diese Daten ist eingeschränkt und streng kontrolliert. Die
                angeforderte URL identifiziert die Schriftfamilien, für die der Nutzer Schriftarten laden möchte. Diese
                Daten werden protokolliert, damit Google bestimmen kann, wie oft eine bestimmte Schriftfamilie
                angefordert
                wird. Bei der Google Fonts Web API muss der User-Agent die Schriftart anpassen, die für den jeweiligen
                Browsertyp generiert wird. Der User-Agent wird in erster Linie zum Debugging protokolliert und
                verwendet, um
                aggregierte Nutzungsstatistiken zu generieren, mit denen die Beliebtheit von Schriftfamilien gemessen
                wird.
                Diese zusammengefassten Nutzungsstatistiken werden auf der Seite „Analysen" von Google Fonts
                veröffentlicht.
                Schließlich wird die Verweis-URL protokolliert, sodass die Daten für die Wartung der Produktion
                verwendet
                und ein aggregierter Bericht zu den Top-Integrationen basierend auf der Anzahl der Schriftartenanfragen
                generiert werden kann. Google verwendet laut eigener Auskunft keine der von Google Fonts erfassten
                Informationen, um Profile von Endnutzern zu erstellen oder zielgerichtete Anzeigen zu schalten;
                <strong>Dienstanbieter:</strong> Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland;
                <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f)
                    DSGVO);
                </span><strong>Website:</strong> <a class="Website" href="https://fonts.google.com/"
                    target="_blank">https://fonts.google.com/</a>; <strong>Datenschutzerklärung:</strong> <br><a class="Website"
                    href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>;
                <strong>Grundlage Drittlandtransfers:</strong> Data Privacy Framework (DPF), Data Privacy Framework
                (DPF).
                <strong>Weitere Informationen:</strong> <br><a class="Website"
                    href="https://developers.google.com/fonts/faq/privacy?hl=de"
                    target="_blank">https://developers.google.com/fonts/faq/privacy?hl=de</a>.
            </li>
        </ul>
        <p class="seal"><a class="Website" href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
                Schwenke</a></p>
        <button (click)="closePrivacyPolicy()">Zurück</button>
    </div>
</section>