<div id="skills" class="technologies-section">
    <div class="tech-section">
        <div class="hidden-left">
            <h1 class="tech-h1">{{ text['technologies'] }}</h1>
            <div class="skill-section">
                <h1 class="skill-h1">{{ text['skillSet'] }}</h1>
                <p class="skill-text">{{ text['skillDescription'] }}</p>
                <h2 class="skill-h2">
                    {{ text['youNeed'] }}
                    <span class="skill-span">{{ text['anotherSkill'] }}</span>
                </h2>
                <p class="skill-text2">{{ text['contactMee'] }}</p>
                <a class="talk-button" (click)="scrollTo('contact')">
                    <span class="LeTa-text">{{ text['letsTalk'] }}</span>
                </a>
            </div>
        </div>

        <div class="skill-set-section hidden-right">
            <div class="skill-set">
                <img src="assets/IMG/Property 1=HTML.png">
                <span>HTML</span>
            </div>
            <div class="skill-set">
                <img src="assets/IMG/Property 1=CSS.png">
                <span>CSS</span>
            </div>
            <div class="skill-set">
                <img src="assets/IMG/Property 1=JavaScript.png">
                <span>JavaScript</span>
            </div>
            <div class="skill-set">
                <img src="assets/IMG/Property 1=Material Design.png">
                <span>Material Design</span>
            </div>
            <div class="skill-set">
                <img src="assets/IMG/Property 1=TypeScript.png">
                <span>TypeScript</span>
            </div>
            <div class="skill-set">
                <img src="assets/IMG/Property 1=Angular.png">
                <span>Angular</span>
            </div>
            <div class="skill-set">
                <img src="assets/IMG/Property 1=Firebase.png">
                <span>Firebase</span>
            </div>
            <div class="skill-set">
                <img src="assets/IMG/Property 1=Git.png">
                <span>GIT</span>
            </div>
            <div class="skill-set">
                <img src="assets/IMG/Property 1=Rest-Api.png">
                <span>Rest-Api</span>
            </div>
            <div class="skill-set">
                <img src="assets/IMG/Property 1=Scrum.png">
                <span>Scrum</span>
            </div>
            <div class="skill-set growth-mindset" (mouseenter)="isHovering = true" (mouseleave)="isHovering = false">
                <img
                    [src]="isHovering ? './assets/IMG/Property 1=Hover.png' : './assets/IMG/Property 1=GrowthMindset.png'">
                <span class="hover-none">Growth<br>mindset</span>
            </div>
        </div>
    </div>
</div>