html, body {
  margin: 0 auto; 
  min-width: 320px; 
  background-color: #1C1C1C;
  padding: 0; 
}

app-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  min-height: 100vh;
  overflow-x: clip;
  background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #1C1C1C;
}
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(55.22deg, #3DCFB6 36.26%, #1C1C1C 93.28%);
    border-radius: 6px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #3DCFB6 93.28%);
}
  
::-webkit-scrollbar-thumb:active {
    background: #3DCFB6;
}